.Document {
  --link-height: 20px;
  --link-margin-top: 20px;
  --link-margin-bottom: 40px;
  --bottom-min-height: calc(
    100vh - var(--link-margin-top) - var(--link-height) -
      var(--link-margin-bottom)
  );
}

.Document__link-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  background: #6360ff;
}

.Document__link {
  display: flex;
  align-items: center;
  width: fit-content;
  height: var(--link-height);
  margin: var(--link-margin-top) 10px var(--link-margin-bottom);
  padding: 5px 15px;
  color: #fcfcff;
  font-size: 14px;
  text-decoration: none;
}

.Document___back-icon {
  display: block;
  margin-right: 27px;
}

.Document__bottom {
  display: flex;
  flex-direction: column;
  min-height: var(--bottom-min-height);
  padding: 25px;
  background: #f1f1fa;
  border-radius: 30px 30px 0px 0px;
}

.Document__title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #91919f;
}

.Document__author {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 100px 15px 0;
}

.Document__content {
  color: #161719;
  font-size: 14px;
  line-height: 22px;
}

.Document__content h2 {
  font-size: inherit;
  line-height: inherit;
}

.Document__content ol,
.Document__content ul {
  margin-left: 15px;
}

.Document__content a {
  text-decoration: none;
  color: #ff8181;
}

.Document__content pre {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 7px;
  padding: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.Document__content code:not(pre code) {
  background: #fff;
  border-radius: 0.1em;
  padding: 2px;
}

.Document__content img {
  display: block;
  max-width: 100%;
}
