.DictionaryPage {
}

.DictionaryPage__explanation {
  margin-bottom: 10px;
}

.DictionaryPage__textaria {
  display: block;
  width: 100%;
  height: 50vh;
  margin-bottom: 20px;
  padding: 15px;
  background: #fcfcff;
  border-radius: 10px;
  border: none;
}

.DictionaryPage__submit {
}
